#main-content {
  margin-top: 100px;
}

// Main Page
.hero {
  position: relative;
  p {
    width: 400px;
  }

  h1 {
    margin: 0;
  }

  .social-media-icons {
    margin-top: 1rem;

    a {
      margin-right: 5px;
    }
  }
}

.astronaut {
  display: block;
  margin: 0 0 0 auto;
}

.arrow {
  display: block;
  margin: 40px auto;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0, -4px, 0);
  }
}

.I {
  font-size: 3.5rem;
  font-family: -apple-system, montserrat, Arial, sans-serif;

  @include sm {
    font-size: 2rem;
  }
}

.container-2 {
  display: flex;
  justify-content: space-between;

  .sub-container {
    width: 48%;
  }
}

.container-3 {
  display: flex;
  height: 180px;
  margin-bottom: 40px;
  margin-top: 180px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  align-items: center;

  blockquote {
    font-size: 1.4rem;
    border: none;
    text-align: center;

    cite {
      text-align: center;
    }
  }
}

.container-4 {
  margin-top: 100px;
  margin-bottom: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

// Blog Page
.blog-container {
  .title {
    font-weight: 100;
  }

  a {
    text-decoration: none;
  }
}

.title-sub {
  font-size: 0.75rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}

// Blog Template

// Me Page
.me-container {
}
