#main-content {
  margin-top: 8rem;
}

html {
  scroll-behavior: smooth;
}
// Main Page
.hero {
  position: relative;
  text-align: center;
  margin-top: 150px;
  p {
    max-width: 600px;
    margin: 0 auto;
  }

  .social-media-icons {
    a {
      margin-right: 5px;
    }
  }
}

.arrow {
  display: block;
  margin: 175px auto 50px;
  animation: fadeInDown 2s ease-in infinite;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.container-2 {
  display: grid;
  grid-template-columns: 50% 50%;

  h2 {
    margin: 1rem 0;
  }
}

.container-3 {
  padding: 1rem 0;
  margin: 2rem 0;
  border-top: 1px solid #c1c1c1;
  border-bottom: 1px solid #c1c1c1;
}

// Blog Page
.blog-container {
  .title {
    font-size: 1.2rem;
  }

  a {
    text-decoration: none;
  }
}

.title-sub {
  font-size: 0.75rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}
